@import 'tailwindcss/utilities' layer(utilities);

@utility bg-gradient-indigo {
    @apply bg-linear-to-br from-indigo-50 to-indigo-400 bg-clip-text text-transparent;
}

@utility bg-gradient-emerald {
    @apply bg-linear-to-br from-emerald-50 to-emerald-900 bg-clip-text text-transparent;
}

@utility bg-gradient-purple-anim {
    background: linear-gradient(
        to right,
        var(--color-purple-400),
        var(--color-white),
        var(--color-purple-400),
        var(--color-white)
    );
    background-size: 300% 300%;

    @apply animate-gradient bg-clip-text text-transparent;
}

@utility bg-gradient-emerald-anim {
    background: linear-gradient(
        to right,
        var(--color-emerald-700),
        var(--color-white),
        var(--color-emerald-700),
        var(--color-white)
    );
    background-size: 300% 300%;

    @apply animate-gradient bg-clip-text text-transparent;
}

@utility bg-gradient-neutral-anim {
    background: linear-gradient(
        to right,
        var(--color-neutral-400),
        var(--color-white),
        var(--color-neutral-400),
        var(--color-white)
    );
    background-size: 300% 300%;

    @apply animate-gradient bg-clip-text text-transparent;
}

@utility shimmer {
    @apply relative isolate overflow-hidden rounded-xl opacity-50 shadow-xl shadow-black/5 transition-opacity duration-500 ease-in-out before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_3s_infinite] before:border-t before:border-b before:border-neutral-100/10 before:bg-linear-to-r before:from-transparent before:via-neutral-100/10 before:to-transparent;
}

@utility pt-spacing {
    padding-top: var(--spacing-64);

    @media (min-width: 1024px) {
        padding-top: var(--spacing-96);
    }
}

@utility pb-spacing {
    padding-bottom: var(--spacing-64);

    @media (min-width: 1024px) {
        padding-bottom: var(--spacing-96);
    }
}

@utility py-spacing {
    padding-bottom: var(--spacing-64);
    padding-top: var(--spacing-64);

    @media (min-width: 1024px) {
        padding-bottom: var(--spacing-96);
        padding-top: var(--spacing-96);
    }
}

@utility pt-spacing-inner {
    padding-top: var(--spacing-32);

    @media (min-width: 1024px) {
        padding-top: var(--spacing-64);
    }
}

@utility pb-spacing-inner {
    padding-bottom: var(--spacing-32);

    @media (min-width: 1024px) {
        padding-bottom: var(--spacing-64);
    }
}

@utility py-spacing-inner {
    padding-bottom: var(--spacing-32);
    padding-top: var(--spacing-32);

    @media (min-width: 1024px) {
        padding-bottom: var(--spacing-64);
        padding-top: var(--spacing-64);
    }
}

@utility mt-spacing {
    margin-top: var(--spacing-64);

    @media (min-width: 1024px) {
        margin-top: var(--spacing-96);
    }
}

@utility mb-spacing {
    margin-bottom: var(--spacing-64);

    @media (min-width: 1024px) {
        margin-bottom: var(--spacing-96);
    }
}

@utility my-spacing {
    margin-bottom: var(--spacing-64);
    margin-top: var(--spacing-64);

    @media (min-width: 1024px) {
        margin-bottom: var(--spacing-96);
        margin-top: var(--spacing-96);
    }
}

@utility mt-spacing-inner {
    margin-top: var(--spacing-32);

    @media (min-width: 1024px) {
        margin-top: var(--spacing-64);
    }
}

@utility mb-spacing-inner {
    margin-bottom: var(--spacing-32);

    @media (min-width: 1024px) {
        margin-bottom: var(--spacing-64);
    }
}

@utility my-spacing-inner {
    margin-bottom: var(--spacing-32);
    margin-top: var(--spacing-32);

    @media (min-width: 1024px) {
        margin-bottom: var(--spacing-64);
        margin-top: var(--spacing-64);
    }
}

@utility container {
    max-width: 100%;
    padding-inline: 24px;

    @media (min-width: 768px) {
        max-width: 768px;
    }

    @media (min-width: 1024px) {
        max-width: 1024px;
    }

    @media (min-width: 1400px) {
        max-width: 1400px;
        padding-inline: 64px;
    }
}
