@tailwind utilities;

@layer utilities {
    .bg-gradient-indigo {
        @apply bg-gradient-to-br from-indigo-50 to-indigo-400 bg-clip-text text-transparent;
    }

    .bg-gradient-emerald {
        @apply bg-gradient-to-br from-emerald-50 to-emerald-900 bg-clip-text text-transparent;
    }

    .bg-gradient-indigo-anim {
        background: linear-gradient(to right, theme('colors.indigo.400'), theme('colors.white'), theme('colors.indigo.400'), theme('colors.white'));
        background-size: 300% 300%;
        @apply animate-gradient bg-clip-text text-transparent;
    }

    .bg-gradient-emerald-anim {
        background: linear-gradient(to right, theme('colors.emerald.700'), theme('colors.white'), theme('colors.emerald.700'), theme('colors.white'));
        background-size: 300% 300%;
        @apply animate-gradient bg-clip-text text-transparent;
    }
}
